* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(158,155,12,1) 35%, rgba(0,0,0,1) 100%);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#hero {
    height: 750px;
    width: 96%;
    display: flex ;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
}

.float-left {
    float: left;
    margin-right: 30px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 21px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
}

.benefit {
    margin-bottom: 35px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.content2 img {
    max-height: 200px;
}

.content2 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

#contact-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.class form-control{
    max-width: 100%;
}

.float-right:hover{
transform: scale(1.3);
}

.logos:hover{
transform: scale(1.3);
}

@media screen and (max-width: 900px) {
    header {
      color: #9e9b0c;
    }
  }
  
  
@media screen and (max-width: 600px) {

    header {
      color: #9e9b0c;
    }
  }
  